<div class="container">
  <div class="row justify-content">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-3">
          <div class="card">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            <% if cocktail.photo.attached? %>
              <%= cl_image_tag cocktail.photo.key, class: "card-img-top" %>
            <% else %>
              <img src="https://www.mccourier.com/wp-content/uploads/2021/01/Drinks.jpg" alt="Tragos" class="card-img">
            <% end %>
          </div>
            <%= link_to "Delete", cocktail_path(cocktail), method: :delete, data: {confirm: "Are you sure?"}  %>
      </div>
    <% end %>
  </div>
</div>

