body {

  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("https://images.unsplash.com/photo-1559571509-ccba3c42e1e6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
  object-fit: contain;
   color:white;

}
a{
  color:white;
}
ul{
  color:blue;
}
// Specific CSS for your home-page
